<!DOCTYPE html>
<html lang="pl-PL">
	<head>
		<meta charset="utf-8">
		<title>NumismaticsWeb</title>
		
		<link href="../css/minimal-table.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<header>
			<h1>NumismaticsWeb</h1>
		</header>
		<section>
			<table>
				<caption>Monety</caption>
				<thead>
					<tr>
						<th scope="col">Kod</th>
						<th scope="col">Nazwa</th>
						<th scope="col">Cena (PLN)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Złota Moneta</td>
						<td>33.3</td>
					</tr>
				</tbody>
			</table>
		</section>
		<section>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d152.7119813264308!2d20.99173258792395!3d52.236268598693684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc867ac61bd1%3A0xf0032244cfea3b90!2sGaleria+Numizmatyczna+SiSRemonet!5e0!3m2!1spl!2spl!4v1528549363007" width="800" height="600" frameborder="0" style="border:0" allowfullscreen>
				<p>
					<!-- Fallback link for browsers that don't support iframes -->
					<a href="https://goo.gl/maps/vLR3EbK5ZUC2">Zobacz lokalizację w Google Maps.</a>
				</p>
			</iframe>
		</section>
		<footer>
			
		</footer>
	</body>
</html>