<!DOCTYPE html>
<html lang="pl-PL" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="/webjars/angularjs/1.6.9/angular.js"></script>
    <script src="/webjars/angularjs/1.6.9/angular-resource.js"></script>
    <script src="/webjars/angularjs/1.6.9/angular-route.js"></script>
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.js"></script>

    <link href="../static/css/style.css"
          th:href="@{css/style.css}" rel="stylesheet" media="screen"/>

    <title> Numismatic </title>
</head>

<body>
<div id="content">
    <!-- Navbar -->
    <div th:include="navbar"></div>
    <!-- Navbar -->

    <section>
        <table>
            <caption>Monety</caption>
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Uid</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Waga</th>
                <th scope="col">Próba</th>
                <th scope="col">Cena (PLN)</th>
                <th scope="col">Rok</th>
                <th scope="col">Opis</th>
                <th scope="col">Literatura</th>
                <!-- <th scope="col">Kruszce</th> 		-->
                <!-- <th scope="col">Certyfikaty</th> -->
                <!-- <th scope="col">Kraje</th>				-->
                <!-- <th scope="col">Panujący</th>		-->
                <!-- <th scope="col">Mennice</th>			-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="coin : ${allCoins}">
                <td th:text="${coin.id}">id</td>
                <td th:text="${coin.uid}">uid</td>
                <td th:text="${coin.nazwa}">nazwa</td>
                <td th:text="${coin.waga}">waga</td>
                <td th:text="${coin.proba}">próba</td>
                <td th:text="${coin.cena}">cena</td>
                <td th:text="${coin.rok}">rok</td>
                <td th:text="${coin.opis}">opis</td>
                <td th:text="${coin.literatura}">literatura</td>

                <!-- <td th:condition="!empty : coin.kruszceByKruszecId" th:text=...>
                    none (default)
                    <ul th:condition>
                        <li th:each="ore : ${coin.kruszceByKruszecId}" th:text="${ore.typ}"></li>
                    </ul>
                </td> -->
            </tr>
            </tbody>
        </table>
    </section>


    <!-- Footer -->
    <div th:include="footer"></div>
    <!-- Footer --->
</div>
</body>
</html>