<!DOCTYPE html>
<html lang="pl-PL" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="/webjars/angularjs/1.6.9/angular.js"></script>
    <script src="/webjars/angularjs/1.6.9/angular-resource.js"></script>
    <script src="/webjars/angularjs/1.6.9/angular-route.js"></script>
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.js"></script>

    <link href="../static/css/style.css"
          th:href="@{css/style.css}" rel="stylesheet" media="screen"/>

    <title> Numismatic </title>
</head>

<body>
<div id="content">
    <!-- Navbar -->
    <div th:include="navbar"></div>
    <!-- Navbar -->

    <div id="body">
        <div class="margin">
            To<br>
            jest<br>
            tekst,<br>
            aby<br>
            strona<br>
            dzialala<br>
            poprawnie,<br>
            a<br>
            wiec<br>
            sa<br>
            tutaj<br>
            newline'y<br>
            do<br>
            konca<br>
            strony,<br>
            tak<br>
            aby<br>
            stopka<br>
            byla<br>
            na<br>
            jej<br>
            koncu<br>
            KURWA<br>
            KURWA!<br>
            KURWA!!<br>
            KURWA!!!<br>
            <br>
            Chwila<br>
            chyba<br>
            mam<br>
            pomysl<br>
            <br>
            O kurwa!<br>
            DZIALA<br>
        </div>
    </div>


    <!-- Footer -->
    <div th:include="footer"></div>
    <!-- Footer --->
</div>
</body>
</html>