<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title> Numismatic </title>
</head>

<body>
<div layout:fragment="content" th:remove="tag">

    <div id="body">
        <div class="margin">
            To<br>
            jest<br>
            tekst,<br>
            aby<br>
            strona<br>
            dzialala<br>
            poprawnie,<br>
            a<br>
            wiec<br>
            sa<br>
            tutaj<br>
            newline'y<br>
            do<br>
            konca<br>
            strony,<br>
            tak<br>
            aby<br>
            stopka<br>
            byla<br>
            na<br>
            jej<br>
            koncu<br>
            KURWA<br>
            KURWA!<br>
            KURWA!!<br>
            KURWA!!!<br>
            <br>
            Chwila<br>
            chyba<br>
            mam<br>
            pomysl<br>
            <br>
            O kurwa!<br>
            DZIALA<br>
        </div>
    </div>

</div>
</body>
</html>
